################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BERTTokenizers/bin
/BERTTokenizers/obj
/BERTTokenizersTests/obj
/.vs